@if (event(); as evt) {
<div class="space-y-6">
  <div>
    <a routerLink="../" class="p-2 rounded-full hover:bg-slate-100 text-slate-500">
      <fa-icon [icon]="icons.faArrowLeft"></fa-icon> Torna alla lista
    </a>
  </div>

  <div class="bg-white rounded-xl shadow-sm border border-slate-200 p-6 relative overflow-hidden">
    <div [class]="'absolute top-0 left-0 w-2 h-full ' + getStatusClass(evt.status)"></div>

    <div class="flex flex-col md:flex-row justify-between items-start gap-4">
      <div>
        <div class="flex items-center gap-3 mb-2">
          <span
            [class]="
              'shrink-0 px-2 py-1 rounded text-xs font-bold border ' + getStatusClass(evt.status)
            "
          >
            {{ getStatusLabel(evt.status) }}
          </span>
        </div>
        <h1 class="text-3xl font-bold text-slate-800 mb-2">{{ evt.name }}</h1>
        <p class="text-slate-600 max-w-2xl">{{ evt.description }}</p>
      </div>

      <div class="text-center bg-slate-50 p-4 rounded-lg border border-slate-100 min-w-[120px]">
        <p class="text-sm text-slate-500 uppercase font-bold">Iscritti</p>
        <p class="text-3xl font-bold text-blue-600">{{ evt.enrolledCount }}</p>
      </div>
    </div>

    <div class="mt-6 flex flex-wrap gap-6 pt-6 border-t border-slate-100">
      <div class="flex items-center gap-2 text-slate-600">
        <fa-icon [icon]="icons.faCalendar" class="text-blue-500"></fa-icon>
        <span class="font-medium">{{ evt.date }}</span>
      </div>
      <div class="flex items-center gap-2 text-slate-600">
        <fa-icon [icon]="icons.faMap" class="text-blue-500"></fa-icon>
        <span class="font-medium">{{ evt.location }}</span>
      </div>
    </div>
  </div>

  @if (isFederation()) {
  <div class="flex justify-end">
    <div class="flex flex-wrap gap-4">
      @if(evt.status === 'SCHEDULED' || evt.status === 'REGISTRATION_CLOSED') {
      <button
        (click)="openEventRegistrations()"
        class="bg-emerald-600 text-white hover:bg-emerald-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faCheck"></fa-icon> Apri iscrizioni</button
      >} @if(evt.status === 'REGISTRATION_OPEN') {
      <button
        (click)="closeEventRegistrations()"
        class="bg-yellow-600 text-white hover:bg-yellow-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faBan"></fa-icon> Chiudi iscrizioni</button
      >} @if(evt.status === 'CANCELLED') {
      <button
        (click)="setScheduledStatus()"
        class="text-blue-600 bg-blue-100 hover:bg-blue-100 transition-colors p-2 rounded-lg"
      >
        <fa-icon [icon]="icons.faArrowRotateLeft"></fa-icon> Riattiva evento</button
      >} @if(evt.status === 'SCHEDULED' || evt.status === 'REGISTRATION_CLOSED') {
      <button
        (click)="setCancelledStatus()"
        class="bg-red-600 text-white hover:bg-red-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faTrash"></fa-icon> Annulla Evento
      </button>
      }
      <button
        [routerLink]="'/dashboard/events/update/' + id()"
        class="bg-blue-600 text-white hover:bg-blue-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
        title="Modifica Evento"
      >
        <fa-icon [icon]="icons.faPen"></fa-icon>Modifica evento
      </button>
    </div>
  </div>
  <app-enrollment-table [eventId]="evt.id"></app-enrollment-table>
  } @else if (isClub()) {
  <div class="flex justify-between gap-2">
    <div
      class="bg-blue-50 border border-blue-100 rounded-xl p-5 w-1/5 flex flex-col items-center justify-start gap-8 max-h-[200px]"
    >
      <span class="font-bold text-blue-800">Seleziona un atleta</span>
      <div class="flex flex-col gap-4">
        <select
          (change)="onAthleteSelectionChange($event)"
          class="w-full px-3 py-2 bg-white border border-slate-200 rounded-lg text-sm font-semibold text-slate-700 shadow-sm focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-100 transition-all appearance-none"
        >
          <option [disabled]="selectedAthleteId() !== ''">Seleziona...</option>
          @for (ath of athletes(); track ath.id) {
          <option [value]="ath.id">{{ ath.firstName }} {{ ath.lastName }}</option>
          }
        </select>
        <button
          (click)="goToEnrollmentPage()"
          [disabled]="!selectedAthleteId()"
          class="bg-blue-600 text-white py-2 px-4 rounded-lg font-medium hover:bg-blue-700 shadow-sm mb-3 disabled:bg-slate-300 disabled:cursor-not-allowed"
        >
          Compila iscrizione
        </button>
      </div>
    </div>
    <app-enrollment-table class="w-full" [clubId]="clubId" [eventId]="evt.id"></app-enrollment-table>
  </div>
  } @else if (isAthlete()) {
  <div class="flex justify-between gap-2">
    <div
      class="bg-blue-50 border border-blue-100 rounded-xl p-5 w-1/5 flex flex-col items-center justify-start gap-8 max-h-[200px]"
    >
      <span class="font-bold text-blue-800">Clicca per precompilare la tua iscrizione:</span>
      <div class="flex flex-col gap-4">
        <button
          (click)="goToEnrollmentPage()"
          [disabled]="!selectedAthleteId()"
          class="bg-blue-600 text-white py-2 px-4 rounded-lg font-medium hover:bg-blue-700 shadow-sm mb-3 disabled:bg-slate-300 disabled:cursor-not-allowed"
        >
          Compila iscrizione
        </button>
      </div>
    </div>
    <app-enrollment-table class="w-full" [clubId]="clubId" [eventId]="evt.id" [athleteId]="selectedAthleteId()"></app-enrollment-table>
  </div>
  }
</div>
} @else {
<div class="p-10 text-center text-slate-500">Caricamento evento...</div>
}
