@if (event(); as evt) {
<div class="space-y-6">
  <div>
    <a routerLink="../" class="p-2 rounded-full hover:bg-slate-100 text-slate-500">
      <fa-icon [icon]="icons.faArrowLeft"></fa-icon> Torna alla lista
    </a>
  </div>

  <div class="bg-white rounded-xl shadow-sm border border-slate-200 p-6 relative overflow-hidden">
    <div
      [class]="'absolute top-0 left-0 w-2 h-full '+getStatusClass(evt.status)"
    ></div>

    <div class="flex flex-col md:flex-row justify-between items-start gap-4">
      <div>
        <div class="flex items-center gap-3 mb-2">
          <span
            [class]="
              'shrink-0 px-2 py-1 rounded text-xs font-bold border ' + getStatusClass(evt.status)
            "
          >
            {{ getStatusLabel(evt.status) }}
          </span>
        </div>
        <h1 class="text-3xl font-bold text-slate-800 mb-2">{{ evt.name }}</h1>
        <p class="text-slate-600 max-w-2xl">{{ evt.description }}</p>
      </div>

      <div class="text-center bg-slate-50 p-4 rounded-lg border border-slate-100 min-w-[120px]">
        <p class="text-sm text-slate-500 uppercase font-bold">Iscritti</p>
        <p class="text-3xl font-bold text-blue-600">{{ evt.enrolledCount }}</p>
      </div>
    </div>

    <div class="mt-6 flex flex-wrap gap-6 pt-6 border-t border-slate-100">
      <div class="flex items-center gap-2 text-slate-600">
        <fa-icon [icon]="icons.faCalendar" class="text-blue-500"></fa-icon>
        <span class="font-medium">{{ evt.date }}</span>
      </div>
      <div class="flex items-center gap-2 text-slate-600">
        <fa-icon [icon]="icons.faMap" class="text-blue-500"></fa-icon>
        <span class="font-medium">{{ evt.location }}</span>
      </div>
    </div>
  </div>

  @if (isFederation()) {
  <div class="flex justify-end">
    <div class="flex flex-wrap gap-4">
      @if(evt.status === 'SCHEDULED' || evt.status === 'REGISTRATION_CLOSED') {
      <button
        (click)="openEventRegistrations()"
        class="bg-emerald-600 text-white hover:bg-emerald-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faCheck"></fa-icon> Apri iscrizioni</button
      >} @if(evt.status === 'REGISTRATION_OPEN') {
      <button
        (click)="closeEventRegistrations()"
        class="bg-yellow-600 text-white hover:bg-yellow-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faBan"></fa-icon> Chiudi iscrizioni</button
      >} @if(evt.status === 'CANCELLED') {
      <button
        (click)="setScheduledStatus()"
        class="text-blue-600 bg-blue-100 hover:bg-blue-100 transition-colors p-2 rounded-lg"
      >
        <fa-icon [icon]="icons.faArrowRotateLeft"></fa-icon> Riattiva evento</button
      >}  @if(evt.status === 'SCHEDULED' || evt.status === 'REGISTRATION_CLOSED') {
      <button
        (click)="setCancelledStatus()"
        class="bg-red-600 text-white hover:bg-red-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faTrash"></fa-icon> Annulla Evento
      </button>
      }
      <button
        [routerLink]="'/dashboard/events/update/'+id()"
        class="bg-blue-600 text-white hover:bg-blue-700 px-4 py-2 rounded-lg font-medium shadow-sm transition-colors flex items-center gap-2 cursor-pointer"
        title="Modifica Evento"
      >
        <fa-icon [icon]="icons.faPen"></fa-icon>Modifica evento
      </button>
    </div>
  </div>
  <div class="bg-white rounded-xl shadow-sm border border-slate-200 p-6 mt-12 min-h-[200px]">
    <div class="flex justify-between">
      <h3 class="font-bold text-slate-800 mb-4">Gestione Iscritti</h3>
      <button
        (click)="downloadReport()"
        class="bg-white border border-blue-200 text-blue-700 px-4 py-2 rounded-lg font-medium hover:bg-blue-100 shadow-sm flex items-center gap-2 cursor-pointer"
      >
        <fa-icon [icon]="icons.faFilePdf"></fa-icon> Scarica Report
      </button>
    </div>
    <p class="text-slate-500 italic">Qui andrà la tabella per approvare le iscrizioni dei club.</p>
  </div>
  } @if (isClub()) {
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="md:col-span-1 space-y-4">
      <div class="bg-blue-50 border border-blue-100 rounded-xl p-5">
        <h3 class="font-bold text-blue-800 mb-3">Azioni Rapide</h3>
        <button
          class="w-full bg-blue-600 text-white py-2 rounded-lg font-medium hover:bg-blue-700 shadow-sm mb-3"
        >
          Iscrivi Atleta
        </button>
        <button
          (click)="downloadReport()"
          class="w-full bg-white border border-blue-200 text-blue-700 py-2 rounded-lg font-medium hover:bg-blue-100 shadow-sm flex justify-center items-center gap-2"
        >
          <fa-icon [icon]="icons.faFilePdf"></fa-icon> Scarica Report
        </button>
      </div>
    </div>

    <div class="md:col-span-2 bg-white rounded-xl shadow-sm border border-slate-200 p-6">
      <h3 class="font-bold text-slate-800 mb-4">I Miei Atleti Iscritti</h3>

      <!-- @if (evt.registeredCount === 0) {
      <div class="text-center py-8 text-slate-400">
        <p>Nessun atleta della tua società iscritto a questo evento.</p>
      </div>
      } @else { -->
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left">
          <thead class="bg-slate-50 text-slate-500 uppercase font-bold text-xs">
            <tr>
              <th class="px-4 py-3">Atleta</th>
              <th class="px-4 py-3">Disciplina</th>
              <th class="px-4 py-3">Stato</th>
              <th class="px-4 py-3 text-right">Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b">
              <td class="px-4 py-3 font-medium">Mario Rossi</td>
              <td class="px-4 py-3 text-slate-500">Kick Boxing</td>
              <td class="px-4 py-3">
                <span class="text-green-600 bg-green-50 px-2 py-1 rounded-full text-xs"
                  >Approvato</span
                >
              </td>
              <td class="px-4 py-3 text-right text-red-500 cursor-pointer hover:underline">
                Rimuovi
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- } -->
    </div>
  </div>
  }
</div>
} @else {
<div class="p-10 text-center text-slate-500">Caricamento evento...</div>
}
