@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #f8f9fa;
}