<div
  class="flex h-[calc(100vh-340px)] bg-gray-100 overflow-hidden font-sans rounded-xl border border-gray-200"
>
  <aside class="w-1/3 min-w-[250px] max-w-[350px] bg-white border-r border-gray-200 flex flex-col">
    <div (click)="selectChat('')" class="p-4 border-b border-gray-100 bg-gray-50 cursor-pointer">
      <h2 class="text-lg font-bold text-gray-700">Richieste Club</h2>
      <p class="text-xs italic text-gray-400">Seleziona una chat per gestirla</p>
    </div>

    <div class="flex-1 overflow-y-auto">
      @for (chat of chatList(); track chat.chatUserId) {
      <div
        (click)="selectChat(chat.chatUserId)"
        class="p-4 border-b border-gray-100 cursor-pointer transition-colors hover:bg-gray-50 relative group border-l-4"
        [ngClass]="{
          'bg-blue-50 border-l-blue-500': selectedChatId() === chat.chatUserId,
          'border-l-red-500': selectedChatId() !== chat.chatUserId && chat.status === 'FREE' && chat.waitingForReply,
          'border-l-green-600':  selectedChatId() !== chat.chatUserId && chat.status === 'ASSIGNED' && chat.assignedAdminId === currentAdminId,
          'border-l-gray-400': selectedChatId() !== chat.chatUserId
        }"
      >
        <div class="flex text-sm justify-between items-start mb-1">
          <h3 class="font-semibold text-gray-800 truncate">{{ chat.clubManagerName }}</h3>
          <span
            class="w-2.5 h-2.5 rounded-full"
            [ngClass]="{
              'bg-red-500': chat.status === 'FREE' && chat.waitingForReply,
              'bg-blue-600': chat.status === 'ASSIGNED' && chat.assignedAdminId === currentAdminId,
              'bg-gray-400': chat.status === 'ASSIGNED' && chat.assignedAdminId !== currentAdminId
            }"
          >
          </span>
        </div>

        <p class="text-xs text-gray-500 italic truncate">
          {{ chat.status === 'FREE' && chat.waitingForReply ? 'In attesa di risposta' : '' }}
          {{
            chat.status === 'ASSIGNED' &&
            chat.assignedAdminId === currentAdminId &&
            chat.waitingForReply
              ? 'In attesa di tua risposta'
              : ''
          }}
          {{
            chat.status === 'ASSIGNED' &&
            chat.assignedAdminId !== currentAdminId &&
            chat.waitingForReply
              ? "In attesa di risposta dall'admin"
              : ''
          }}
          {{ !chat.waitingForReply ? 'Nessun messaggio in attesa' : '' }}
        </p>
      </div>
      }
    </div>
  </aside>

  <main class="flex-1 h-full flex flex-col bg-slate-50 relative">
    @if (selectedChat(); as chat) {

    <div
      class="h-16 px-6 bg-white border-b border-gray-200 flex justify-between items-center shadow-sm z-10"
    >
      <div>
        <h2 class="text-xl font-bold text-gray-800">{{ chat.clubManagerName }}</h2>
        @if (!(chat.status === 'FREE' && !chat.waitingForReply)){<span
          class="text-xs font-bold px-2 py-0.5 rounded uppercase tracking-wider"
          [ngClass]="{
            'bg-red-100 text-red-700': chat.status === 'FREE' && chat.waitingForReply,
            'bg-blue-100 text-blue-700':
              chat.status === 'ASSIGNED' && chat.assignedAdminId === currentAdminId,
            'bg-gray-200 text-gray-600':
              chat.status === 'ASSIGNED' && chat.assignedAdminId !== currentAdminId
          }"
        >
          {{ assignmentInfo() }} </span
        >}
      </div>

      <div class="flex gap-3">
        @if (chat.status === 'FREE' && chat.waitingForReply) {
        <button
          (click)="takeCharge()"
          class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-lg shadow-md transition-transform active:scale-95 flex items-center gap-2"
        >
          <fa-icon [icon]="icons.faUserPlus" class="h-4 w-4"></fa-icon>
          Prendi in Carico
        </button>
        } @if (chat.status === 'ASSIGNED' && chat.assignedAdminId === currentAdminId) {
        <button
          (click)="releaseChat()"
          class="px-4 py-2 bg-white border border-red-200 text-red-600 hover:bg-red-50 text-sm font-medium rounded-lg shadow-sm transition-colors flex items-center gap-2"
        >
          <fa-icon [icon]="icons.faArrowRightFromBracket" class="h-4 w-4"></fa-icon>
          Rilascia Chat
        </button>
        }
      </div>
    </div>

    <div class="flex-1 p-4 overflow-hidden">
      <app-chat-window
        [contactName]="chat.clubManagerName"
        [chatUserId]="chat.chatUserId"
        [readOnly]="!canWrite()"
      ></app-chat-window>
    </div>

    } @else {
    <div class="flex-1 flex h-full flex-col items-center justify-center text-gray-400">
      <fa-icon [icon]="icons.faCommentDots" size="5x" class="mb-4 opacity-20"></fa-icon>
      <p class="text-lg font-medium">Seleziona un Club dalla lista</p>
      <p class="text-sm">per visualizzare la conversazione.</p>
      <p class="text-sm mt-4">Ricorda che puoi prendere in carico una sola chat per volta!</p>
    </div>
    }
  </main>
</div>
